services:
  server:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env

  client:
    build: ./client
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5000
    depends_on:
      - server